# =====================
# Node / React
# =====================

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production build
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =====================
# Python / Django
# =====================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
/myenv
# If using migrations, but optionally you can track them:
# */migrations/*.py
# !*/migrations/__init__.py

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
.coverage
htmlcov/

# IDEs/editors
.vscode/
.idea/
*.iml

# Others
*.env
*.pot
*.mo

# =====================
# General
# =====================
.DS_Store
Thumbs.db
